.header{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}
.header__logo{
  display: flex;
  flex-wrap: wrap;

}
.header__logo-link,{
  text-decoration: none;
}
.header__logo-title{
  margin-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  /* identical to box height, or 187% */


  text-transform: uppercase;

  /* font-light */

  color: #F7F7F7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //line-height: 60px;
}
.header__item{
  margin-right: 66px;
}
.header__item:last-child{
  margin-right: 0;

}
.header__nav-button{
  background: none;
  border: 2px solid #CD6326;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 9px 22px;


}
.header__link,.header__nav-button{

  font-size: 23px;
  //line-height: 60px;
  color: #F7F7F7;

  text-decoration: none;
}
.header__link:hover,.header__link:focus,.header__link:active{
  opacity: 0.4;
}
.header__nav-logo:hover, {
  opacity: 0.3;
}
.header__nav-button:hover{


    border: 2px solid #E39128;


}

.header__nav-button:active{

  background:  #8F5613
}

