.donation{
  display: flex;
  justify-content: center;
  width: 100%;
 background: #20113D;
  padding-bottom: 4.6rem;
  padding-top: 5.2rem;
  @media screen and  (max-width: $md2+px) {
  padding-bottom: 4.9rem;
  padding-top: 5.3rem
  }
  @media screen and  (max-width: $md4+px) {

    padding-top: 3.2rem;
    padding-bottom: 3.9rem;

  }
}

.donation__wrapper{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and  (max-width: $md3+px) {
    justify-content: center;
  }



}

.donation__content{
  @media screen and  (max-width: $md2+px) {
    max-width: 57.7rem;}
}
.donation__title {
  @include h3;
  margin-bottom: 2rem;
  @media screen and  (max-width: $md2+px) {

    margin-bottom: 3rem;}
    @media screen and  (max-width: $md3+px) {
      text-align: center;
  }

}
.donation__text{
  max-width: 60.9rem;
  @include body(#FFFFFF);
line-height:  2.7rem;

  text-align: start;
  @media screen and  (max-width: $md3+px) {
  text-align: center;
    margin-bottom: 2.8rem;
    margin-right: -0.1rem;
  }

}
.donation__quick-donate{
  @include Subheader(#FFFFFF);
  margin-bottom: 1rem;
  text-align: start;
  @media screen and  (max-width: $md3+px) {
    text-align: center;
  }
}

.donation__input{
  background: $purple;
  color: #FFFFFF;
  @include Subheader(#FFFFFF);
  border: none;
  max-width: 71%;
  font-size: 2.4rem;
  -moz-appearance: textfield;
}

.donation__input::-webkit-outer-spin-button,
.donation__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation__input::-webkit-input-placeholder {color:#c0392b;}
.donation__input::-moz-placeholder {
  color: #FFFFFF;
}



.donation__button{
  color: #FFFFFF;

}

