.watch-your {
  justify-content: center;
  display: flex;
  height: 79rem;
  margin-bottom: 10rem;
  padding-top: 12.9rem;

  * {

  }

  *:last-child {
    margin-bottom: 0;
  }

  background-image: url("../../assets/images/main-background.png");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $md2+px) {
    height: 69rem;
    padding-top: 9.9rem;
    background-image: url("../../assets/images/Main page-1200.png");
    .watch-your__title, .watch-your__text, .watch-your__button {

      margin-left: -6rem;
    }
  };
  @media screen and (max-width: $md3+px) {
    height: 64.4rem;
    padding-top: 5rem;
    .watch-your__title, .watch-your__text, .watch-your__button {

      margin-left: 0;
    }
    background-image: url("../../assets/images/Main page-640.png");
  }
  @media screen and (max-width: $md4+px) {
    height: 68.5rem;
    padding-top: 2rem;
    .watch-your__title, .watch-your__text, .watch-your__button {
      margin-right: -1rem;
      margin-left: -1rem;
    }

    background-image: url("../../assets/images/Main page-320.jpg");
    background-position: bottom;
  }
}

.watch-your__title {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00A092;

  @media screen and (max-width: $md2+px) {
    margin-bottom: 1.2rem;
  }
  @media screen and (max-width: $md3+px) {
    font-size: 7.2rem;
    line-height: 8.8rem;

  }
  @media screen and (max-width: $md4+px) {
    font-size: 4rem;
    line-height: 4.9rem;
    margin-bottom: 1.2rem;
  }
}

.watch-your__text {
  @include body();
  text-align: left;
  max-width: 43rem;
  margin-bottom: 4.7rem;
  @media screen and (max-width: $md2+px) {
    margin-bottom: 2.7rem;
    max-width: 35rem;
  }
  @media screen and (max-width: $md3+px) {

    max-width: 33rem;
  }
}

.watch-your__button {
  width: 24rem;
  color: #FFFFFF;
  background-color: $orange;
  @media screen and (max-width: $md3+px) {
    width: 28.5rem;
  }
  @media screen and (max-width: $md4+px) {
    width: 30rem;
  }


}
