.registration-page{

  justify-content: space-between;
  width: 640px;
  height: 460px;
  margin: auto;
  background: #FFFFFF;
  padding: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}


.registration__img{
  width: 200px;
  height:200px;
  margin-left: 20px;
}
.registration__field{
  display: flex;
}
