.menu {

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 50px 30px;
  box-shadow: 5px 0 30px rgb(0 0 0 / 50%);
  transition: all 0.3s ease-in;
  background: linear-gradient(60deg, rgb(165, 154, 53) 0%, rgb(132, 167, 78) 100%);
  z-index: 50;
}

.element-menu {
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
  max-width: fit-content;
  background-image: linear-gradient(rgba(255,224,130,0.5) 0%, rgba(255,224,130,0.5) 100%);
  background-repeat: repeat-y;
  background-size: 0% 0em;
  background-position: 0 65%;
  transition: 0.4s ease;
}

.element-menu:hover {
  color: #4e4528;
  background-image: linear-gradient(#ffe082 0%, #ffe082 100%);
  background-size: 100% 1em;
  transition: 0.4s ease;
  .icon{
    filter: invert(0);
  }
}


.hide-menu{
  left: -400px;
  box-shadow: none;
}
.active{
  color: #001e36;
  .icon{
    filter: invert(0);
  }
}
.icon{
  height: 100%;
  width: 29px;
  background-size: 100%;
  filter: invert(1);
  margin: 0 15px;

}

