.card-container{
  margin: 1%;
  margin-bottom: 20px;
  flex: 1 0 13%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;
  &:hover > .card{
    transform: translateZ(2rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
  }
  &.flipped > .card{
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

.card{
  display: flex ;
  position: relative;
  width: 15vw;
  height: 15vw;
  min-width: 200px;
  min-height: 200px;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all .5s;
  border-radius: .5rem;
  box-shadow: 0 .1rem .25rem black;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  &__front,
  &__back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    background-position: top;
    background-size: cover;
  }
  &__front{
    //background-color: crimson;
  }
  &__back{
    //background-color: gray;/
    //background-image: url("../assets/img/coat.jpg");

    transform: rotateY(180deg);
  }
}

.card_shadow{
  card:before{
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0, .5);
    z-index: 99;

  }
}
.signature{
  display: flex;
  width: 100%;
  height: 15%;
  margin-top: auto;
  background: white;
  justify-content: center;
  align-items: center;
  font-size: 25px;

}

.flip-btn{
  position: absolute;
  right: 5%;
  border: none;
  background: none;
  font-size: 20px;
  transform: rotateZ(180deg);
}
.reverse{

 transform: rotateY(180deg) ;
}

.opacity{
  opacity: .4;
}




