
.cards-field{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.rating{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  overflow-x: hidden;
}
.star_filled,.star{
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star{
  background-image: url("../assets/star.svg");
}
.star_filled{
  background-image: url("../assets/filled-star.svg");
}

